* { 
  margin: 0;
  padding: 0;
}
body {
  color: rgba(245, 245, 245, 0.75);
  font-family: sans-serif;
  text-align: justify;
  background-color: hsl(0, 0%, 12%);
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}